<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <div class="container main charlie-regular d-flex justify-content-center align-items-center">
        <form th:action="@{/save-product}" class="form px-5 py-5" th:object="${saveProductDto}" method="post">
            <h4 class="charlie-bold" th:text="${title}"></h4>

            <div class="row">
                <div class="mb-3 col-6">
                    <label for="productName" class="form-label">Product Name:</label>
                    <input autocomplete="off" type="text" class="form-control" id="productName" th:field="*{productName}">
                    <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="form-text span__mistake"></div>
                </div>

                <div class="mb-3 col-6">
                    <label for="price" class="form-label">Price:</label>
                    <input autocomplete="off" type="number" class="form-control" id="lastName" th:field="*{price}">
                    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="form-text span__mistake"></div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-6">
                    <label for="stock" class="form-label">Stock:</label>
                    <input autocomplete="off" type="number" class="form-control" id="stock" th:field="*{stock}">
                    <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="form-text span__mistake"></div>
                </div>
                
                <div class="mb-3 col-6">
                    <label for="reference" class="form-label">Reference:</label>
                    <input autocomplete="off" type="text" class="form-control" id="stock" th:field="*{reference}">
                    <div th:if="${#fields.hasErrors('reference')}" th:errors="*{reference}" class="form-text span__mistake"></div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-12">
                	<label for="category">Category</label>
		        	<select id="category" th:field="*{category}" class="form-control" required="true">
		            	<option value="">Select a category</option>
		            	<option th:each="i : ${categories}" th:text="${i}" th:value="${i.categoryId}" th:selected="${i.categoryId} ? 'selected'"></option>
		        	</select>
                </div>
            </div>

            <div class="register__button-box d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success d-block register__button">Save</button>
            </div>
        </form>
    </div>

    <script th:replace="layout/layout :: footer"></script>
</body>

</html>