<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <div class="container main d-flex justify-content-center align-items-center">
        <form th:action="@{/save-product}" class="form px-5 py-5" th:object="${requestDto}" method="post">
            <h4 th:text="${title}"></h4>

            <div th:replace="layout/layout :: form"></div>

            <div class="register__button-box d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-success d-block register__button">Save</button>
            </div>
        </form>
    </div>

    <script th:replace="layout/layout :: footer"></script>
</body>

</html>